.preview p[data-color="red"] {
    color: red;
}

.preview p[data-color="blue"] {
    color: blue;
}

.preview p[data-color="purple"] {
    color: purple;
}

.preview p[data-color="black"] {
    color: black;
}

.preview p[data-color="green"] {
    color: green;
}

.preview p[data-color="lime"] {
    color: lime;
}

.preview p[data-color="pink"] {
    color: pink;
}

.preview p[data-color="gray"] {
    color: gray;
}